body {
  font-family: Arial, sans-serif;
  background-color: #0f0070;
  margin: 0;
  padding: 20px;
  
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pokemon-card {
  background-color: rgba(52, 224, 4, 0.55);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.pokemon-card img {
  max-width: 100px;
}
.pokemon-card li{
  list-style: none;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

select,
input[type="text"],
button {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

h1{
  text-align: center;
  color: white;
}

div {
  border: solid black;
  background-color: rgba(6, 228, 69, 0.723);
  margin-top: 2rem;
}
.logo{
  width: 500px;
}
.pikachu{
  width: 700px;
}